<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Title
        link(rel="stylesheet", href="styles/styles.css")
    body
        nav.nav-menu
            ul.menu
                li
                    a(href="#", title="title") Home
                li
                    a(href="#", title="title") The Company
                li
                    a(href="#", title="title") Our Services
                li
                    a(href="#", title="title") Latest
                li
                    a(href="#", title="title") Portfolio
                li.dropdown
                    a Dropdown
                        ul
                            li
                                a(href="#", title="title") SubItem1
                            li
                                a(href="#", title="title") SubItem2
                            li
                                a(href="#", title="title") SubItem3
                                ul
                                    li
                                        a(href="#", title="title") Subsubitem 1
                                    li
                                        a(href="#", title="title") Subsubitem 2
                            li
                                a(href="#", title="title") SubItem4
        script(src="js/main.bundle.js")
