<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Title
        link(rel="stylesheet", href="styles/styles.css")
    body
        nav.nav-menu
            ul.menu
                li
                    a(href="#").main-item.item-home Home
                li
                    a(href="#").main-item.item-the-company The Company
                li
                    a(href="#").main-item.item-our-services Our Services
                li
                    a(href="#").main-item.item-latest Latest
                li
                    a(href="#").main-item.item-portfolio Portfolio
                li.dropdown-menu
                    a.dropdown-title Dropdown
                    ul
                        li
                            a(href="#", title="title") SubItem1
                        li
                            a(href="#", title="title") SubItem2
                        li
                            a(href="#", title="title") SubItem3
                                ul
                                    li
                                        a(href="#", title="title") Subsubitem 1
                                    li
                                        a(href="#", title="title") Subsubitem 2
                        li.dropdown-menu
                            a.dropdown-title Dropdown 2
                            ul
                                li
                                    a(href="#", title="title") SubItem1
                                li
                                    a(href="#", title="title") SubItem2
                                li
                                    a(href="#", title="title") SubItem3
                                        ul
                                            li
                                                a(href="#", title="title") Subsubitem 1
                                            li
                                                a(href="#", title="title") Subsubitem 2
                                li.dropdown-menu
                                    a.dropdown-title Dropdown 2
                                    ul
                                        li
                                            a(href="#", title="title") SubItem1
                                        li
                                            a(href="#", title="title") SubItem2
                                        li
                                            a(href="#", title="title") SubItem3
                                                ul
                                                    li
                                                        a(href="#", title="title") Subsubitem 1
                                                    li
                                                        a(href="#", title="title") Subsubitem 2
                                        li
                                            a(href="#", title="title") SubItem4
        script(src="js/main.bundle.js")
