* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --body-bg-color: #222831;
    background-color: var(--body-bg-color);
}

.nav-menu {

    /* Variables */
    --nav-menu-height: 50px;
    --menu-color: #dfa612;
    --nav-bg-color: #100e17;
    --visibility-transition: 0.25s visibility ease-in-out, 0.25s opacity ease-in-out;
    // --menu-hover-color: #41b883;
    --menu-hover-transition: 0.25s all ease-in-out;
    --menu-item-home: #ff8a00;
    --menu-item-the-company: #e52e71;
    --menu-item-our-services: #f44336;
    --menu-item-latest: #9c27b0;
    --menu-item-portfolio: #03a9f4;
    --menu-item-dropdown: #4caf50;
    --menu-item-dropdown-item: #8bc34a;


    /* Styles */
    height: var(--nav-menu-height);
    background-color: var(--nav-bg-color);
    font-weight: bold;

    ul {
        list-style: none;
    }
}

.menu {
    display: flex;
    justify-content: center;
    height: 100%;

    li {

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-family: sans-serif;
            padding: 10px;
            display: flex;
            height: 100%;
            align-items: center;
            position: relative;

            &.dropdown-title {
                color: #4caf50;
                padding-right: 20px;

                &:after {
                    content: '➢';
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 25%;
                    transform: rotate(90deg);
                }
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 0;
                transition: all 0.25s ease-in-out;
            }

            &:hover {

                &:before {
                    width: 100%;
                    transition: all 0.25s ease-in-out;
                }
            }
        }
    }
}

.main-item {

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        transition: all 0.25s ease-in-out;
        left: 0;
    }

    &.item-home {

        &:before {
            background-color: var(--menu-item-home);
        }
    }

    &.item-the-company {

        &:before {
            background-color: var(--menu-item-the-company);
        }
    }

    &.item-our-services {

        &:before {
            background-color: var(--menu-item-our-services);
        }
    }

    &.item-latest {

        &:before {
            background-color: var(--menu-item-latest);
        }
    }

    &.item-portfolio {

        &:before {
            background-color: var(--menu-item-portfolio);
        }
    }
}

.dropdown-menu {
    position: relative;

    &:hover {

        cursor: pointer;

        & > ul {
            visibility: visible;
            opacity: 1;
            transition: var(--visibility-transition);
        }
    }

    ul {
        background-color: #201c29;
        width: 250px;
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        transition: var(--visibility-transition);
    }

    li {

        border-left: 4px solid transparent;
        transition: var(--visibility-transition);

        &:hover {
            border-left: 4px solid var(--menu-item-dropdown-item);
            transition: var(--visibility-transition);
        }

        a {
            padding: 10px 20px;
            color: var(--menu-item-dropdown-item);
        }
    }
}

.item-home {
    color: var(--menu-item-home);
}

.item-the-company {
    color: var(--menu-item-the-company);
}

.item-our-services {
    color: var(--menu-item-our-services);
}

.item-latest {
    color: var(--menu-item-latest);
}

.item-portfolio {
    color: var(--menu-item-portfolio);
}
